body,
h1,
p,
a {
  margin: 0;
  padding: 0;
}

body {
  background-color: #28e232;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-top: 20px;
  color: #9147ff;
}

p {
  margin: 20px 0;
  font-size: 1em;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #9147ff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
}

a:hover {
  background-color: #772ce8;
}
