body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #28e232;
  font-family: "Arial", sans-serif;
  color: #e0e0e0;
}

.signup-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  padding: 30px;
}

.logo {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.logo img {
  max-width: 80%;
  max-height: 100%;
}

.signup-form h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #222;
}

label,
input[type="email"],
input[type="password"] {
  width: 100%;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  margin: 5px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-button input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #6441a4;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button input:hover {
  background-color: #4b367c;
}
